# Variáveis de Ambiente

# API
EXPO_PUBLIC_API_URL=http://localhost:3000/api

# Autenticação
EXPO_PUBLIC_AUTH_TIMEOUT=3600

# Localização
EXPO_PUBLIC_ENABLE_LOCATION=true

# Notificações
EXPO_PUBLIC_ENABLE_NOTIFICATIONS=true
